MVC2/Connected Services/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Data.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotDogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotDogs" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotDogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotDogsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostHotDog_InputMessage">
    <wsdl:part name="parameters" element="tns:PostHotDog" />
  </wsdl:message>
  <wsdl:message name="IService1_PostHotDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostHotDogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutHotDog_InputMessage">
    <wsdl:part name="parameters" element="tns:PutHotDog" />
  </wsdl:message>
  <wsdl:message name="IService1_PutHotDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutHotDogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotDogByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHotDogByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHotDogByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHotDogByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteHotDog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHotDog" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteHotDog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteHotDogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostClient_InputMessage">
    <wsdl:part name="parameters" element="tns:PostClient" />
  </wsdl:message>
  <wsdl:message name="IService1_PostClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutClient_InputMessage">
    <wsdl:part name="parameters" element="tns:PutClient" />
  </wsdl:message>
  <wsdl:message name="IService1_PutClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSales_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSales" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSales_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSalesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostSale_InputMessage">
    <wsdl:part name="parameters" element="tns:PostSale" />
  </wsdl:message>
  <wsdl:message name="IService1_PostSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSaleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSaleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSaleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSale_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSale" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSaleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutSale_InputMessage">
    <wsdl:part name="parameters" element="tns:PutSale" />
  </wsdl:message>
  <wsdl:message name="IService1_PutSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotDogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHotDogs" message="tns:IService1_GetHotDogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHotDogsResponse" message="tns:IService1_GetHotDogs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostHotDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostHotDog" message="tns:IService1_PostHotDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostHotDogResponse" message="tns:IService1_PostHotDog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutHotDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutHotDog" message="tns:IService1_PutHotDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutHotDogResponse" message="tns:IService1_PutHotDog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHotDogByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHotDogByID" message="tns:IService1_GetHotDogByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHotDogByIDResponse" message="tns:IService1_GetHotDogByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHotDog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteHotDog" message="tns:IService1_DeleteHotDog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteHotDogResponse" message="tns:IService1_DeleteHotDog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClients" message="tns:IService1_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientsResponse" message="tns:IService1_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientByID" message="tns:IService1_GetClientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientByIDResponse" message="tns:IService1_GetClientByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostClient" message="tns:IService1_PostClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostClientResponse" message="tns:IService1_PostClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutClient" message="tns:IService1_PutClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutClientResponse" message="tns:IService1_PutClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteClient" message="tns:IService1_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteClientResponse" message="tns:IService1_DeleteClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSales" message="tns:IService1_GetSales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSalesResponse" message="tns:IService1_GetSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostSale" message="tns:IService1_PostSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostSaleResponse" message="tns:IService1_PostSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSaleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSaleById" message="tns:IService1_GetSaleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSaleByIdResponse" message="tns:IService1_GetSaleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteSale" message="tns:IService1_DeleteSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteSaleResponse" message="tns:IService1_DeleteSale_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutSale" message="tns:IService1_PutSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutSaleResponse" message="tns:IService1_PutSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotDogs">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHotDogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostHotDog">
      <soap:operation soapAction="http://tempuri.org/IService1/PostHotDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutHotDog">
      <soap:operation soapAction="http://tempuri.org/IService1/PutHotDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotDogByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHotDogByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHotDog">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteHotDog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientByID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostClient">
      <soap:operation soapAction="http://tempuri.org/IService1/PostClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutClient">
      <soap:operation soapAction="http://tempuri.org/IService1/PutClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSales">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostSale">
      <soap:operation soapAction="http://tempuri.org/IService1/PostSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSaleById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSaleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSale">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutSale">
      <soap:operation soapAction="http://tempuri.org/IService1/PutSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>